*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}



.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.image1, .image2, .image3, .image4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.image1 {
  background-image: url("./assets/imagen1.webp");

}

.image2 {
  background-image: url("./assets/imagen2.webp");
  left: 50%;
  background-attachment: fixed;
  border-left: 3px solid #111;
}

.image3 {
  background-image: url("./assets/imagen3.webp");

}

.image4 {
  background-image: url("./assets/imagen4.webp");
  left: 50%;
  background-attachment: fixed;
  border-left: 3px solid #111;
}



a {
  position: fixed;
  padding: 5px 20px;
  height: 25px;
  top: 60px;
  right: 40px;
  background: blue;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;

}

button {
  position: fixed;
  left: 50px;
  bottom: 100px;
  cursor: pointer;
  border-radius: 30px;
  padding: 5px 20px;

}

.music {
  bottom: 70px;
}
